<img src="https://www.creativefabrica.com/wp-content/uploads/2018/10/Kiss-The-Cook-580x386.jpg" alt="logo">
<hr />
<br>
<h2> Hola <%= userChef.email %> </h2>
<h3> El cliente <%= user.email %> ha hecho una reserva del plato <%= dish.name %> </h3>
