<img src="https://www.creativefabrica.com/wp-content/uploads/2018/10/Kiss-The-Cook-580x386.jpg" alt="logo">
<hr />
<br>
<h2>Bienvenido <%= user.email %> a la comunidad de KissTheCook,</h2>
    
<h3> Haz hecho una reserva del plato  <%= dish.name %> </h3>