<img src="https://www.creativefabrica.com/wp-content/uploads/2018/10/Kiss-The-Cook-580x386.jpg" alt="logo">
<hr />
<br>
<h2> Hola <%= user.email %>! </h2>
    
<h3> Tu retiro de $<%= money %> fue hecho correctamente, ahora tienes un saldo de $<%= total %></h3>